table {
  margin: 0 auto;
}

table {
  color: #333;
  background: white;
  border: 1px solid grey;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}
